$color: lightblue;

.jumbotron-fluid {
    background-color: $color;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $color;
    text-align: right;
    p {
        padding-top: 80px;
        padding-bottom: 10px;
        padding-right: 10px;
        font-size: 22px;
    }
}

.scientists {
    background-color: $color;
}

%item {
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
}

.even {
    @extend %item;
    color: white;
    background-color: #3269a8;
}

.odd {
    @extend %item;
    color: black;
    background-color: $color;
}