@media (max-width: 810px) {
    #ampere {
        font-size: 5.5vw;
    }
}

@media (max-width: 590px) {
    #faraday {
        font-size: 5.5vw;
    }
}

@media (max-width: 720px) {
    #gauss {
        font-size: 5.5vw;
    }
}

@media (max-width: 720px) {
    #Bgauss {
        font-size: 5.5vw;
    }
}

@media (max-width: 360px) {
    #index {
        font-size: 15.5vw;
    }
}

img {
    width: 80%;
}

td {
    font-size: 20px;
}